<%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
            <ul>
                <% user.errors.full_messages.each do |message| %>
                    <li>
                        <%= message %>
                    </li>
                    <% end %>
            </ul>
        </div>
        <% end %>
            <div class="field">
                <%= form.label :name %>
                    <%= form.text_field :name, id: :user_name %>
                        <%= form.check_box :paid %>
            </div>
            <div class="field">
                <%= form.label :email %>
                    <%= form.text_field :email, id: :user_email %>
            </div>
            <div class="field">
                <%= form.label :login %>
                    <%= form.text_field :login, id: :user_login %>
            </div>
            <div class="actions">
                <%= form.submit %>
            </div>
            <% end %>
                <script>
                Ext.onReady(function() {
                    var movie_form = new Ext.FormPanel({
                        url: 'movie-form-submit.php',
                        renderTo: document.body,
                        frame: true,
                        title: 'Movie Information Form',
                        width: 250,
                        items: [{
                            xtype: 'textfield',
                            fieldLabel: 'Name',
                            name: 'name',
                            id: 'name',
                            allowBlank: false
                        }, {
                            xtype: 'textfield',
                            fieldLabel: 'Email',
                            name: 'email',
                            id: 'email'
                        }, {
                            xtype: 'textfield',
                            fieldLabel: 'Login',
                            name: 'login',
                            id: 'login'
                        } ,{
                            xtype: 'tbbutton',
                            text: 'create',
                            listeners: {
                                click: function() {
                                    var a = Ext.getCmp("email").getValue();
                                    var b = Ext.getCmp("name").getValue();
                                    var c = Ext.getCmp("login").getValue();
                                    alert(a + " " + b + " " + c);
                                }

                            } 
                        }]
                    });
                });
                </script>