<p id="notice">
    <%= notice %>
</p>
<h1>Users</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Login</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td>
                    <%= user.name %>
                </td>
                <td>
                    <%= user.email %>
                </td>
                <td>
                    <%= user.login %>
                </td>
                <td>
                    <%= link_to 'Show', user %>
                </td>
                <td>
                    <%= link_to 'Edit', edit_user_path(user) %>
                </td>
                <td>
                    <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
            </tr>
            <% end %>
    </tbody>
</table>
<br>
<div id="abc"></div>
<div id="dfg" style="width: 100px;margin-left: 500px"></div>
<%= javascript_include_tag "test.js"%>
<script>
Ext.onReady(function() {
    var store = new Ext.data.JsonStore({
        url: 'users.json',
        fields: [
            'id',
            'name',
            'email',
            'login'
        ]
    });
    store.load();

    // add your data store here
    var grid = new Ext.grid.GridPanel({
        id: 'myGrid',
        renderTo: Ext.get("abc"),
        frame: true,
        title: 'Movie Database',
        height: 200,
        width: 600,
        store: store,
        tbar: [{
            xtype: 'button',
            text: 'Create',
            handler: function() {
                location.href = "/users";
            }
        }],
        columns: [
            { id: 'id', dataIndex: 'id' },
            { header: "Name", dataIndex: 'name' },
            { header: "Email", dataIndex: 'email' },
            { header: "Login", dataIndex: 'login' },
            {
                header: "Action",
                width: 150,
                dataIndex: 'action'
            }
        ]
    });
    var myBtnHandler = function(btn) {
        movie_form.show();
    }
    var fileBtn = new Ext.Button({
        text: 'Show Create Form',
        renderTo: Ext.get("dfg"),
        handler: myBtnHandler
    });
});
</script>